@import "styles/variable";

.caseTitle {
  font-size: $title;
  font-size: 25px;
  font-weight: 600;
}

.instruction {
  padding: 15px;
  outline: 1px solid black;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.content {
  font-size: 15px;
}
