@import "styles/variable";

.root {
  border: 1px solid orange;
}

.caseTitle {
  font-size: $title;
  font-weight: 600;
  line-height: $title-line-height;
  text-decoration: underline;
  text-underline-position: under;
}

.instructionList {
  padding: 15px 0 0 0;
  margin: 0;
}

.instruction {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0 0;
  margin: 0;
  list-style: none;
}

.leftBox {
  width: 50%;
  border: 1px black solid;
}

.rightBox {
  display: flex;
  width: 50%;
  justify-content: center;
  border: 1px black solid;
}

.title {
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid $black;
  border-radius: 30px;
  font-size: $subtitle;
  font-weight: bold;
}

.content {
  margin-top: $content-line-height;
  font-size: $content;
  line-height: $content-line-height;
}
