@import "styles/variable";

.root {
  width: 100%;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  padding-left: 25px;
  background: $canvas-bg;
}

.tabList {
  padding: 0;
  margin: 0;
}

.inActive {
  display: none;
}

.tab {
  display: inline-block;
  padding: 0.6rem 1rem;
  background-color: $black;
  color: gray;
  font-size: 20px;
  font-weight: bold;
}

.clickedTab {
  background-color: $white;
  border-radius: 0 10px 0 0;
  color: $black;
}

.body {
  display: flex;
  padding-top: 22px;
  padding-left: 70px;
  background: white;
}
