@import "styles/variable";

.caseContainer {
  padding: 45px;
  background-color: $white;
}

.caseTitle {
  position: static;
  font-size: $title;
  font-weight: 600;
  line-height: $title-line-height;
  text-decoration: underline;
  text-underline-position: under;
}
