@import "styles/variable";

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient($canvas-bg 59%, $gradation-edge 100%);
}

.header {
  width: 100%;
  color: black;
  font-size: 30px;
}

.projectTitle {
  width: 411px;
  height: 80px;
  padding-top: 10px;
  border-right: 10px solid black;
  border-left: 10px solid black;
  margin: auto;
  background: white;
  font-size: 42px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}

.description {
  padding-top: 31px;
  color: white;
  font-size: 30px;
  text-align: center;
}

.main {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.caseBox {
  display: flex;
  width: 400px;
  height: 280px;
  flex-direction: column;
  padding-top: 75px;
  margin: auto;
  background-image: url("/imgs/case-box.svg");
  background-size: 400px 280px;
  text-align: center;
}

.caseNameBox {
  width: 279px;
  height: 48px;
  align-items: center;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  background: white;
}

.caseName {
  width: 269px;
  height: 38px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  line-height: 28px;
}

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
