@import "styles/variable";

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $canvas-bg;
}

.header {
  width: 100%;
  color: black;
  font-size: 30px;
}

.projectTitle {
  width: 411px;
  height: 80px;
  padding-top: 10px;
  margin: auto;
  background: white;
  font-size: 42px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.caseBox {
  display: flex;
  width: 420px;
  height: 270px;
  flex-direction: column;
  padding-top: 75px;
  margin: auto;
  background-image: url("/imgs/case-box.svg");
  text-align: center;
}

.caseNameBox {
  width: 279px;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  background: white;
}

.caseName {
  width: 269px;
  height: 38px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  line-height: 28px;
}

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eaeaea;
}
