@import "styles/variable";

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  background-color: $canvas-bg;
}

.header {
  background: black;
  color: white;
  font-size: 30px;
  text-align: left;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  //border: solid 1px purple;
}

.link {
  color: white;
}

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eaeaea;
}
