$canvas-bg: #1201dc;
$gradation-edge: #e5e5e5;
$black: #000;
$btn-bg: #f5f5f5;
$red: #f32929;
$blue: #4254fb;
$white: #fff;
$gray: #898989;
$highlight1: #ffa011; //징역
$highlight2: #f32b2b; //벌금
$highlight3: #26bbea; //집행유예
$highlight0: #fff84d; //일반 텍스트 속 하이라이트

/* Text-size styles */

/* 반응형으로 작업해줘야 함 */
$btn: 20px;
$btn-num: 12px;
$btn-active: 24px;
$btn-active-num: 16px;
$subtitle: 18px;
$content: 18px;
$content-line-height: 28px;
$content-sub: 18px;
$caption: 14px;
$title: 32px;
$title-line-height: 48px;
$num: 24px;
$page-num: 45px;
